<div class="container">
  <a ui-sref="home"><button type="submit" class="btn btn-warning">Home</button></a>
  <h2>You are DEAD</h2>
  <iframe src="//giphy.com/embed/9kDR0U4gaguic?html5=true" width="480" height="672" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <iframe src="//giphy.com/embed/9kDR0U4gaguic" width="480" height="672" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h2>But maybe there is still hope...</h2>
  <iframe src="//giphy.com/embed/s4bIoJ3U3Ilri?html5=true" width="480" height="274" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
